.CardList .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardList .front,
.CardList .back {
  width: 30%;
}

.CardList button:nth-of-type(1) {
  margin-right: 5px;
}

.CardList .oi-trash {
  padding-left: 5px;
}
