.View p {
  margin-top: 10px;
  margin-bottom: 0;
}

.View .buttons {
  margin-bottom: 20px;
  margin-top: 10px;
}

.View .buttons {
  display: flex;
}

.View button:last-child {
  margin-left: auto;
}

.View .oi-trash {
  padding-left: 5px;
}
